html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(./fonts/Roboto-Bold.ttf);
}

body {
    font-family: 'Roboto Bold', sans-serif;
    box-sizing: border-box;
}

.dashboard {
    display: grid;
    grid-template: 
            "sidebar header" clamp(150px, 18vh, 200px)
            "sidebar main" / 200px;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template: 
            "searchbar prof" 1fr
            "intro create" 2fr / 5fr 3fr;
    gap: 10px;
    padding: 20px;
}

.searchbar, .prof {
    display: flex;
    align-items: center;
}

.searchbar {
    grid-area: searchbar;
}

.header svg {
    width: 20px;
}

.searchbar svg {
    margin-right: 20px;
}

.searchbar input {
    height: 20px;
    width: 90%;
    background-color: #e2e8f0;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
}

.prof {
    grid-area: prof;
    display: flex;
    justify-content: center;
}

.prof img {
    width: 40px;
    height: auto;
    margin: 0 20px;
}

.intro {
    grid-area: intro;
    display: flex;
    align-items: center;
}

.intro img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.intro p {
    font-size: .8rem;
    margin-bottom: 10px;
}

.create {
    grid-area: create;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create button {
    margin: 0 15px;
    border-radius: 20px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 90px;
}

.create button:hover {
    cursor: pointer;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992d4;
}

.hero {
    color: white;
    font-family: 'Roboto Bold', sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;
}

.hero svg {
    width: 40px;
    fill: white;
    margin-right: 8px;
}

.nav, .options {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px 10px 10px 15px;
    font-size: 1.2rem;
    font-family: 'Roboto Bold';
    display: flex;
    align-items: center;
}

a:hover {
    background-color: #167db4;
}

.nav svg, .options svg {
    width: 30px;
    fill: white;
    margin-right: 8px;
}

.main {
    grid-area: main;
    background-color: #e2e8f0;
    display: grid;
    grid-template: 
            "projects announcements"
            "projects trending" / 2fr 1fr;
}

.projects {
    grid-area: projects;
}

.annnouncements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}